.tag {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 9999px;
  min-width: 3rem;
  text-align: center;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
  opacity: 0.85;
  font-size: 1.6rem;
}